include ../dw/dw.jade

- var domain = "index.html"

//- METAS
- var title = "URGENCIAS DIGITALES"
- var keywords = "urgencias digitales, busco diseñador, busco programador, urge programador, urge diseñador"
- var description = "Soluciones urgentes de programación, diseño, modelado 3D, desarrollo de interactivos, aplicaciones móviles y más."

//- STYLESHEETS
- var stylesheets = []
- stylesheets.push('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
- stylesheets.push('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
- stylesheets.push('http://fonts.googleapis.com/css?family=Lato:300,400,700')
- stylesheets.push('http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css')
- stylesheets.push('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.1/css/swipebox.min.css')
- stylesheets.push('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css')
- stylesheets.push('https://cdnjs.cloudflare.com/ajax/libs/social-likes/3.0.14/social-likes_flat.css')
- stylesheets.push('{{site.url}}/site/css/style.css') //Main style

//- JAVASCRIPTS
- var javascripts = []
- javascripts.push('http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.core.min.js')
- javascripts.push('https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
- javascripts.push('http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.1/js/jquery.swipebox.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/2.3.2/scrollReveal.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/7.0.2/js/smooth-scroll.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js')
- javascripts.push('https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/social-likes/3.0.14/social-likes.min.js')
- javascripts.push('https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.1.0/jquery.countdown.min.js')
- javascripts.push('{{site.url}}/site/js/scrollbox.js')
- javascripts.push('{{site.url}}/site/js/drawsvg.js')
- javascripts.push('{{site.url}}/site/js/script.js') //Main Js

//- MENU
- var menu = [] //- menu.push('PageName', 'Slug')
- menu.push(['Inicio', 'index']) //[0]
- menu.push(['Nosotros', 'nosotros']) //[1]
- menu.push(['Servicios', 'servicios']) //[2]
- menu.push(['Contacto', 'contacto']) //[3]



mixin topicons
  
  #socialicons
    a(href="")
    a(href="tel:5513484349", title="(55) 13 48-43 49").tooltip.ion-social-whatsapp
    a(href="https://twitter.com/urgenciadigital", target="_blank", title="@urgenciadigital").tooltip.ion-social-twitter
    a(href="mailto:urge@urgenciasdigitales.space", title="urge@urgenciasdigitales.space").tooltip.ion-ios-email
    a(href="skype:urgenciasdigitales?chat", title="Skype: urgenciasdigitales").tooltip.fa.fa-skype
    form(action="https://www.paypal.com/cgi-bin/webscr", method="post")
      input(type="hidden", name="cmd", value="_s-xclick")
      input(type="hidden", name="hosted_button_id", value="CQVJGD2UZ9LQN")
      button(type="submit", title="Pago con PayPal").tooltip.fa.fa-paypal
  
  mixin footer
    footer
      .container
        .col12
          #footericons
            a(href="{{site.url}}", title="RSS", target="_blank").tooltip.ion-social-rss
            a(href="https://www.linkedin.com/company/urgencias-digitales", title="LinkedIn", target="_blank").tooltip.ion-social-linkedin
            a(href="tel:5513484349", title="(55) 13 48-43 49").tooltip.ion-social-whatsapp
            a(href="https://twitter.com/urgenciadigital", target="_blank", title="@urgenciadigital").tooltip.ion-social-twitter
            a(href="https://google.com/+UrgenciasdigitalesSpaceud", rel="publisher", target="_blank", title="Google+").tooltip.ion-social-googleplus-outline
            a(href="https://www.youtube.com/channel/UC_RkfDdfi7wJUbR1-vxs7bA", title="YouTube", target="_blank").tooltip.ion-social-youtube
            a(href="mailto:urge@urgenciasdigitales.space", title="urge@urgenciasdigitales.space").tooltip.ion-ios-email
            a(href="skype:urgenciasdigitales?chat", title="Skype: urgenciasdigitales").tooltip.fa.fa-skype
            form(action="https://www.paypal.com/cgi-bin/webscr", method="post")
              input(type="hidden", name="cmd", value="_s-xclick")
              input(type="hidden", name="hosted_button_id", value="CQVJGD2UZ9LQN")
              button(type="submit", title="Pago con PayPal").tooltip.fa.fa-paypal
