include ../site/_config.jade

+html5
  +head('{{ page.title }} | '+title, stylesheets, '{{page.tags}}', '{{page.description}}')
    meta(property="og:title", content="{{page.title}}")
    meta(property="og:description", content="{{page.description}}")
    meta(property="og:image", content="{{page.postimg}}")
    +headerScripts
  body(ng-app="ud-app").blog
    
    +topicons
 
    .container
      .col4
        a(href="http://urgenciasdigitales.space")#logoblog
          div(data-svg="{{site.baseurl}}/site/img/urgencias-digitales.svg").white
          
    
    
    
    section#blog
      .container#content
        .col8.col-m10.push-m1
          h1.entry {{ page.title }}
          | {{ content }}
        .col4.col-m10.push-m1
          h2 Compartir
          .social-likes(data-counters="no")
            .facebook(title="Compartir en Facebook")
            .twitter(data-via="urgenciadigital", data-related="urgenciadigital", title="Compartir en Twitter")
            .plusone(title="Compartir en Google+")
            //.pinterest(data-media="", title="Compartior en Pinterest")
          h2 Anteriormente
          ul.otherposts
            | {% for p in site.posts %}
            li: a(href="{{ site.url }}{{ p.url }}") {{ p.title }}
            | {% endfor %}
        .col12
          div(data-svg="{{site.url}}/site/img/beatline.svg")#beatline
      
      .container#comments
        .col6.col-m12
          #disqus_thread
          script.
            var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ page.permalink }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//urgenciasdigitales.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        .col6.col-m12
          | <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="400" data-numposts="4"></div>
    +footer
    +scripts
